* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 7px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  overflow-y: hodden;
}

.editor {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.about {
  position: absolute;
  right: 12px;
  bottom: 16px;
}

textarea {
  width: 500px;
  height: 250px;
}

iframe {
  width: 1000px;
  height: 730px;
  border: 0.5px solid black;
  position: relative;
}

#html-code {
  grid-row: 1/2;
  grid-column: 1/2;
}

#css-code {
  grid-row: 2/3;
  grid-column: 1/2;
}

#js-code {
  grid-row: 3/4;
  grid-column: 1/2;
  height: 230px;
}

#output {
  grid-row: 1/4;
  grid-column: 2/3;
}

textarea::placeholder {
  font-size: 48px;
  text-align: center;
  padding: 75px;
  font-family: "Poppins", sans-serif;
}
